.img_wrapper > img {
  width: 100%;
}

.details_wrapper > h5 {
  font-size: 1.8rem;
  color: var(--secondary-text);
  padding-top: 1rem;
}

.details_wrapper > p {
  font-size: 1.4rem;
  padding-block: 0.5rem;
}

.details_wrapper > button {
  padding: 1.2rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}
